button
{
    font-size: 24px;
    color: #020e26;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 48px;
    padding: 12px 32px;
    transition: 0.4s;
}
button:hover
{
    color: #fff;

}
button::before
{
    content: "";
    position: absolute;
    height: 62px;
    width: 170px;
    z-index: -1;
    border-radius: 40px;
    background-color: #3fe30dce;
    transform: translate(-24px,-8px);
    transition: 0.4s;

}
button:hover::before
{
    background-color: #f508dd;
    transform: translate(-33px,-13px);

}